/* Eliminar márgenes y asegurarse que el body ocupe toda la pantalla */
body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Recuadros flexibles */
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

/* Estilo para los recuadros */
.box {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    border-radius: 10px;
}

/* Botón en la esquina superior derecha */
.minimize-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
}

/* Estilo para el texto */
.label {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}