.nav_bar
{
    background-color: #24252A;
    padding: 15px 0;
    border-radius: 10px;
    width: 100%;
}

.nav_bar ul
{
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
}

.nav_bar li
{
    display: inline;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.nav_bar ul li a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.nav_bar ul li a:hover,
.nav_bar ul li a.cerrar-sesion:hover
{
    color: rgb(67, 66, 66);
}
