*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body
{
    background: url(https://imagenes.eltiempo.com/files/image_1200_600/uploads/2023/02/22/63f6e929c1004.jpeg) center / cover;
    backdrop-filter: blur(7px);
    min-height: 100vh;
}
.form-container
{
    color: black;
    box-shadow: 0 .4rem .8rem #0005;
    margin: 30px auto;
    width: 40%;
}
.form-container .img_profile
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 62, 98, 0.7);
    padding-top: 20px;
    padding-bottom: 20px;
}
.content-container
{
    background-color: #fffb;
    padding: 7%;
}
.content-container h1
{
    font-size: 36px;
    text-align: center;
}
.content-container h2
{
    font-size: 25px;
}
.content-container .inputs_container
{
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.inputs_container input
{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;    
    background: #F2F2F2;
    color: black;
    text-indent: 10px;
}

.inputs_container input::placeholder
{
    color: #CFCFCF;
    text-indent: 10px;
}
.content-container .btn
{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(195deg, rgba(30,62,98,1) 0%, rgba(72,122,177,1) 100%);
    color: white;
    margin-top: 15px;
}
.error
{
    margin-top: 10px;
    display: flex;
    text-align: center;
    background-color: #dc2e4b;
    color: white;
    height: 30px;
    font-weight: 650;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.img-container
{
    display: flex;
    align-items: center;
    margin-left: 10%;
}
.product-img
{   
    align-items: center;
    margin-bottom: 20px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: 30px;
}
#foto
{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}
#file
{
    display: none;
}
#upload_btn
{
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    margin-top: 80px;
    transform: translateX(-100%);
    align-items: center;
    justify-content: center;
    background-color: grey;
    box-shadow: 2px 4px 4px black;
}
#file_name
{
    font-size: 20px;
    color: #333;
    margin-top: 5px;
}


.content-container .btn
{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;

    background: linear-gradient(195deg, rgba(30,62,98,1) 0%, rgba(72,122,177,1) 100%);
    color: white;
    margin-top: 15px;
}
.content-container .button_a
{
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(195deg, rgba(30,62,98,1) 0%, rgba(72,122,177,1) 100%);
    color: white;
    margin-top: 5px;
    align-items: center;
    justify-content: center; 
}

.select-container select
{
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    height: 45px;
    background: #F2F2F2;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}
.select-container input
{
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    height: 45px;
    background: #F2F2F2;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}


.select-container select option
{
    background-color: #F2F2F2;
    color: black;
}

.select-container select:focus
{
    box-shadow: 0px 0px 5px #333;
}

.profile-img
{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.a-ref
{
    color: #F2F2F2;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}

.a-ref:hover
{
    color: #cecdcd;
}

.btn
{
    width: 30%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(195deg, rgba(30,62,98,1) 0%, rgba(72,122,177,1) 100%);
    color: white;
    margin-top: 15px;
}

.btn:hover
{
    background: linear-gradient(195deg, rgba(72, 122, 177, 1) 0%, rgba(30, 62, 98, 1) 100%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

input[type = "checkbox"]
{
    appearance: none;
    -webkit-appperance: none;
    width: 30px;
    height: 30px;
    background-color: #e3e2e2;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type = "checkbox"]:after
{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 25px;
    color: white;
    display: none;
}

input[type = "checkbox"]:hover
{
    background-color: #a5a5a5;
}

input[type = "checkbox"]:checked
{
    background-color: #5bcd3e;
}

input[type = "checkbox"]:checked:after
{
    display: block;
}