{% extends 'layout.html' %}

{% block title %}
    COMIDAS USUARIOS
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tablas.css') }}">
{% endblock %}
{% block body %}
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1 style="color: white;">Comida usuarios</h1>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th class="header-text"> Id </th>
                        <th class="header-text"> Nombre </th>
                        <th class="header-text"> Apellidos </th>
                        <th class="header-text"> Tipo </th>
                        <th class="header-text"> Modificar </th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                        <tr>
                            <td> {{ cliente.id }} </td>
                            <td> {{ cliente.nombre }} </td>
                            <td> {{ cliente.apellidos }} </td>
                            <td> {{ cliente.tipo }} </td>
                            <td>
                                <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
                                    <a href="/select-consumables/{{ cliente.id }}" class="btn-update">Actualizar</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}