<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_bar.css') }}">
    {% block customCSS %}{% endblock %}
    {% block customJS %} {% endblock %}
</head>
<body>
    <div class="nav_bar">
        <ul>
            <li style="margin-right: 50px;">BILLAR</li>
            <li><a href = "/clientes">Clientes</a></li>
            <li><a href = "/mesas">Mesas</a></li>
            <!-- <li><a href = "/pagos" >Pagos</a></li> -->
            <li><a href = "/comidas" >Comidas</a></li>
            <li> <a href = "/local" >Locales</a> </li>
            <li><a href="#">Local actual: {{ current_local_id if current_local_id else "Ninguno" }}</a></li>

        </ul>
    </div>
    
    {% block body %}
    {% endblock %}
</body>
</html>