{% extends 'layout.html' %}
{% block title %}
    mesas
{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mesass.css') }}">
{% endblock %}

{% block body %}
 <!-- Botón en la esquina superior derecha -->
 <div class="minimize-button" onclick="handleMinimize()"></div>
    
 <!-- Cuadrícula de recuadros -->
 <div class="grid">
     <div class="box"></div>
     <div class="box"></div>
     <div class="box"></div>
     <div class="box"></div>
     <div class="box"></div>
     <div class="box"></div>
 </div>
{% endblock %}