{% extends 'layout.html' %}

{% block title %}
    MESAS
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tablas.css') }}">
{% endblock %}
{% block body %}
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1 style="color: white;">Mesas</h1>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th class="header-text"> Id </th>
                        <th class="header-text"> Tipo </th>
                        <th class="header-text"> Estado </th>
                        <th class="header-text"> Acciones </th>
                    </tr>
                </thead>
                <tbody>
                    {% for mesa in mesas %}
                        <tr>
                            <td> {{ mesa.id }} </td>
                            <td>
                                {{ mesa.tipo }}
                            </td>
                            <td>
                                {% if mesa.estado == "En uso" %}
                                    <div class="status-box red">En uso</div>
                                {% elif mesa.estado == "Mantenimiento" %}
                                    <div class="status-box yellow">Mantenimiento</div>
                                {% else %}
                                    <div class="status-box green">Disponible</div>
                                {% endif %}
                            </td>
                            <td>
                                <a href="#" class="btn-update" style="margin-bottom: 20px;">Actualizar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
