{% extends 'layout.html' %}

{% block title %}
    MONTO CLIENTE
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tablas.css') }}">
{% endblock %}

{% block body %}
<main class="table" id="customers_table" style="height: auto;">
    <section class="table__header">
        <h1 style="color: white;">Montos Calculados</h1>
    </section>

    <div class="sub_table">
        <section class="sub_table__header">
            <h2 style="color: white;">Monto de la mesa</h2>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th class="header-text"> Precio Hora </th>
                        <th class="header-text"> Hora Inicio </th>
                        <th class="header-text"> Hora Fin </th>
                        <th class="header-text"> Monto Mesa </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;"> {{ monto_mesa.PrecioHora }} </td>
                        <td style="text-align: center;"> {{ monto_mesa.HoraInicio }} </td>
                        <td style="text-align: center;"> {{ monto_mesa.HoraFin }} </td>
                        <td style="text-align: center;"> {{ monto_mesa.MontoMesa }} </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    
    <div class="sub_table">
        <section class="sub_table__header">
            <h2 style="color: white;">Monto consumibles</h2>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th class="header-text" style="text-align: center;">Consumible</th>
                        <th class="header-text" style="text-align: center;">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consumible in monto_consumibles %}
                    <tr>
                        <td style="text-align: center;">{{ consumible.Nombre }}</td>
                        <td style="text-align: center;">{{ consumible.Precio }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    <div class="sub_table">
        <section class="sub_table__header">
            <h2 style="color: white;">Monto final</h2>
        </section>    
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th class="header-text"> Monto Mesa </th>
                        <th class="header-text"> Monto Consumibles </th>
                        <th class="header-text"> Monto Total </th>
                        <th class="header-text"> Metodo de pago </th>
                        <th class="header-text"> Pagar </th>
                    </tr>
                </thead>
                <tbody>
                    <form action="/realizarPago/{{ cliente.id }}" method="GET">
                        <tr>
                            <td style="text-align: center;"> {{ monto_total.MontoMesa }} </td>
                            <td style="text-align: center;"> {{ monto_total.MontoConsumible }} </td>
                            <td style="text-align: center;"> {{ monto_total.MontoTotal }} </td>
                            <td style="text-align: center;">
                                <select name="metodo" id="metodo" required>
                                    <option value="Efectivo">Efectivo</option>
                                    <option value="Tarjeta">Tarjeta</option>
                                </select>
                            </td>
                            <td>
                                <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
                                    <button type="submit" class="btn-update">Pagar</button>
                                </div>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
        </section>
    </div>
</main>
{% endblock %}