{% extends 'layout.html' %}

{% block title %}
    MONTO CLIENTE
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tablas.css') }}">
{% endblock %}

{% block body %}
<main class="table" id="customers_table">
    <section class="table__header">
        <h1 style="color: white;">Montos Calculados</h1>
    </section>
    <section class="table__body">
        <h2>Monto de la Mesa</h2>
        <table>
            <thead>
                <tr>
                    <th class="header-text"> Precio Hora </th>
                    <th class="header-text"> Hora Inicio </th>
                    <th class="header-text"> Hora Fin </th>
                    <th class="header-text"> Monto Mesa </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ monto_mesa.PrecioHora }} </td>
                    <td> {{ monto_mesa.HoraInicio }} </td>
                    <td> {{ monto_mesa.HoraFin }} </td>
                    <td> {{ monto_mesa.MontoMesa }} </td>
                </tr>
            </tbody>
        </table>

        <h2>Monto de Consumibles</h2>
        <table>
            <thead>
                <tr>
                    <th class="header-text">Consumible</th>
                    <th class="header-text">Cantidad</th>
                    <th class="header-text">Precio</th>
                    <th class="header-text">Monto Consumible</th>
                </tr>
            </thead>
            <tbody>
                {% for consumible in monto_consumibles %}
                <tr>
                    <td>{{ consumible.Nombre }}</td>
                    <td>{{ consumible.Cantidad }}</td>
                    <td>{{ consumible.Precio }}</td>
                    <td>{{ consumible.MontoConsumible }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Monto Final</h2>
        <table>
            <thead>
                <tr>
                    <th class="header-text"> Monto Mesa </th>
                    <th class="header-text"> Monto Consumibles </th>
                    <th class="header-text"> Monto Total </th>
                    <th class="header-text"> Pagar </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ monto_total.MontoMesa }} </td>
                    <td> {{ monto_total.MontoConsumible }} </td>
                    <td> {{ monto_total.MontoTotal }} </td>
                    <td>
                        <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
                            <a href="" class="btn-update">Pagar</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>
</main>
{% endblock %}