{% extends 'layout.html' %}

{% block title %}
    Proveedores de Equipamiento
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tablas.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/normal.css') }}">
{% endblock %}
{% block body %}

<main class="table" id="customers_table">
    <section class="table__header">
        <h1 style="color: white;">Proveedores de Equipamiento</h1>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th class="header-text">Nombre del Proveedor</th>
                    <th class="header-text">Correo</th>
                    <th class="header-text">Tipo</th>
                    <th class="header-text">Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proequi %}
                <tr>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.correo }}</td>
                    <td>{{ proveedor.tipo }}</td>
                    <td>{{ proveedor.descripcion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}