{% extends 'layout.html' %}

{% block title %}
    Selección de Proveedor
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/locales_tablas2.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tablas.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/proveedor.css') }}">
{% endblock %}

{% block body %}
<main class="container">
    <h1 class="heading">Selecciona un Tipo de Proveedor</h1>
    <h2 class="heading2"><a href='/equi' class="btn-maintenance" style="background-color: #54616f; color: white; font-weight: bold; padding: 10px 15px; border-radius: 5px; text-decoration: none;font-size: 1.5rem;">
        Equipamiento en mantenimiento
    </a></h2>
    <div class="selection-container">
        <div class="selection-box">
            <h2>Ingredientes</h2>
            <p>Accede a la lista de proveedores de ingredientes.</p>
            <a href="/proveedor_ingrediente" class="btn-update">Seleccionar</a>
        </div>
        <div class="selection-box">
            <h2>Equipamiento</h2>
            <p>Accede a la lista de proveedores de equipamiento.</p>
            <a href="/proveedor_equipamiento" class="btn-update">Seleccionar</a>
        </div>
    </div>
</main>
{% endblock %}