{% extends 'layout.html' %}

{% block title %}
    Seleccionar Consumibles
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tablas.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/normal.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{% endblock %}

{% block body %}
<main class="table" id="customers_table">
    <section class="table__header">
        <h1 style="color: white;">Seleccionar Consumibles para el Cliente</h1>
        <h3 style="color: white;">Cliente ID: {{ cliente }}</h3>
    </section>

    <section class="table__body">
        <form method="POST" action="{{ url_for('guardar_detalle_pedido') }}" id="pedido-form">
            <input type="hidden" name="cliente_id" value="{{ cliente }}">
            <table>
                <thead>
                    <tr>
                        <th class="header-text">Id</th>
                        <th class="header-text">Nombre</th>
                        <th class="header-text">Descripción</th>
                        <th class="header-text">Precio</th>
                        <th class="header-text">Stock</th>
                        <th class="header-text">Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consumible in consumibles %}
                        <tr>
                            <td>{{ consumible.id }}</td>
                            <td>{{ consumible.nombre }}</td>
                            <td>{{ consumible.descripcion }}</td>
                            <td>{{ consumible.precio }}</td>
                            <td>{{ consumible.stock }}</td>
                            <td style="display: flex; justify-content: center; align-items: center;">
                                <input type="checkbox" name="consumibles" value="{{ consumible.id }}">
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div style="display: flex; justify-content: center; align-items: center; padding-bottom: 12px;">
                <button type="submit" class="btn" id="submit-btn">Confirmar Pedido</button>
            </div>
            
        </form>
    </section>
</main>
<script>
    document.getElementById('pedido-form').addEventListener('submit', function(event) {
        var checkboxes = document.querySelectorAll('input[name="consumibles"]:checked');
        var sinStock = false;

        checkboxes.forEach(function(checkbox) {
            var stock = parseInt(checkbox.getAttribute('data-stock'), 10);
            if (stock === 0) {
                sinStock = true;
            }
        });
        if (sinStock) {
            event.preventDefault();
            alert('Uno o más consumibles seleccionados no tienen stock disponible.');
        } else if (checkboxes.length === 0) {
            event.preventDefault();
            alert('Por favor, selecciona al menos un consumible.');
        }
    });
</script>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript">
            // Mostrar mensaje como popup
            alert('{{ messages[0] }}');  // Utiliza `alert` para un popup simple
        </script>
    {% endif %}
{% endwith %}
{% endblock %}
